@charset "utf-8";

/*ナビゲーションの固定*/

#banner{
    /*stickyで固定*/
    position: -webkit-sticky;/*Safari*/
	position: sticky;
	}

#banner3{
vertical-align: bottom:
    /*固定したい位置*/
	bottom: 10px;
}

